.tasks {
  max-width: 46rem;
  margin: 4rem auto 0;

  & header {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 768px) {
    padding: 0 1rem;
  }
}

.taskList {
  margin-top: 1.5rem;
}
